http-server:
  addr: ":9529"
  reloadable: false
health:

redis:
  addr: "${REDIS_ADDR}"
  password: "${REDIS_PASSWORD}"
  db: ${REDIS_DB:0}
  master_name: "${REDIS_MASTER_NAME}"
  sentinels_addr: "${REDIS_SENTINELS_ADDR}"

openapi-ng:

openapi-interceptor-dump:
  _enable: ${HTTP_DUMP:false}
  order: 0
  dump_all: ${HTTP_DUMP_ALL:false}
  check_key: "${HTTP_DUMP_CHECK_KEY:__dump__}"

openapi-interceptor-csrf:
  _enable: ${HTTP_CSRF_ENABLED:true}
  order: 10
  allow_valid_referer: true
  cookie_name: "OPENAPI-CSRF-TOKEN"
  cookie_domain: "${CSRF_COOKIE_DOMAIN}"
  cookie_max_age: "12h"
  token_lookup: "header:OPENAPI-CSRF-TOKEN"
openapi-interceptor-filter-client-header:
  order: 11

openapi-interceptor-auth-session-compatibility:
  order: 500
  old_cookie_domain: ${OLD_COOKIE_DOMAIN}
  session_cookie_name: "${SESSION_COOKIE_NAME:OPENAPISESSION}"

openapi-interceptor-user-info:
  order: 900

openapi-interceptor-audit:
  order: 1000

openapi-auth:
openapi-auth-ory-kratos:
  _enable: ${ORY_ENABLED:false}
  weight: 100
  ory_kratos_addr: "${ORY_KRATOS_ADDR:kratos:4433}"
openapi-auth-uc:
  _enable: ${UC_ENABLED:true}
  weight: 100
  redirect_after_login: "${UI_PUBLIC_ADDR}"
  client_id: "${UC_CLIENT_ID:dice}"
  uc_addr: "${UC_PUBLIC_ADDR}"
  uc_redirect_addrs: "${SELF_PUBLIC_ADDR}"
  session_cookie_name: "${SESSION_COOKIE_NAME:OPENAPISESSION}"
  session_cookie_domain: "${COOKIE_DOMAIN}"
openapi-auth-password:
  _enable: ${UC_ENABLED:true}
  weight: 50
openapi-auth-token:
  _enable: ${UC_ENABLED:true}
  weight: 10

openapi-protobuf-routes:
openapi-v1-routes:
openapi-custom-routes:

# for test
openapi-example:
openapi-example-custom:
openapi-example-custom-route:
openapi-example-backend:
http-server@example:
  addr: ":8080"

erda-discover:
  urls:
    example: "http://localhost:8080"
    erda.example: "http://localhost:8080"
