routes:
  - path: /v1/models
    method: GET
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: protocol-translator
        config:
          processes:
            - SetAuthorizationIfNotSpecified
            - SetOpenAIOrganizationIfNotSpecified
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: openai
          instanceId: default
          operationId: ListModels
          scheme: https
  - path: /v1/models/{model}
    method: GET
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: protocol-translator
        config:
          processes:
            - SetAuthorizationIfNotSpecified
            - SetOpenAIOrganizationIfNotSpecified
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: openai
          instanceId: default
          operationId: RetrieveModel
          scheme: https
  - path: /v1/completions
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: protocol-translator
        config:
          processes:
            - SetAuthorizationIfNotSpecified
            - ReplaceAuthorizationWithAPIKey
            - SetAPIKeyIfNotSpecified
            - ReplaceURIPath("/openai/deployments/${ provider.metadata.DEVELOPMENT_NAME }/completions")
            - AddQueries("api-version=2023-03-15-preview")
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: azure
          instanceId: default
          operationId: CreateCompletion
          scheme: https
  - path: /v1/chat/completions
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: protocol-translator
        config:
          processes:
            - SetAuthorizationIfNotSpecified
            - ReplaceAuthorizationWithAPIKey
            - SetAPIKeyIfNotSpecified
            - ReplaceURIPath("/openai/deployments/${ provider.metadata.DEVELOPMENT_NAME }/chat/completions")
            - AddQueries("api-version=2023-03-15-preview")
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: azure
          instanceId: default
          operationId: CreateChatCompletion
          scheme: https
  - path: /v1/edits
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: openai
          instanceId: default
          operationId: CreateEdit
          scheme: https
  - path: /v1/images/generations
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: openai
          instanceId: default
          operationId: CreateImageGeneration
          scheme: https
  - path: /v1/images/edits
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: openai
          instanceId: default
          operationId: CreateImageEdit
          scheme: https
  - path: /v1/image/variations
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: reverse-proxy
        config:
          to: provider # enum: "provider", "url"
          provider: openai
          instanceId: default
          operationId: CreateImageVariation
          scheme: https

  - path: /openai/deployments/{deployment-id}/completions
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: protocol-translator
        config:
          processes:
            - SetAuthorizationIfNotSpecified
            - ReplaceAuthorizationWithAPIKey
            - SetAPIKeyIfNotSpecified
      - name: reverse-proxy
        config:
          to: provider
          provider: azure
          instanceId: default
          operationId: CreateCompletion
          scheme: https
          host: ""
          path: ""
  - path: /openai/deployments/{deployment-id}/embeddings
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: protocol-translator
        config:
          processes:
            - SetAuthorizationIfNotSpecified
            - ReplaceAuthorizationWithAPIKey
            - SetAPIKeyIfNotSpecified
      - name: reverse-proxy
        config:
          to: provider
          provider: azure
          instanceId: default
          operationId: CreateEmbeddings
          scheme: https
  - path: /openai/deployments/{deployment-id}/chat/completions
    method: POST
    filters:
      - name: prometheus-collector
      - name: log-http
      - name: audit
      - name: protocol-translator
        config:
          processes:
            - SetAuthorizationIfNotSpecified
            - ReplaceAuthorizationWithAPIKey
            - SetAPIKeyIfNotSpecified
      - name: reverse-proxy
        config:
          to: provider
          provider: azure
          instanceId: default
          operationId: CreateChatCompletion
          scheme: https

