routes:
  - path: /v1/models
    method: GET       # * 表示匹配所有 http method
    router: null      # null 表示不使用 router 定义 rewrite 规则, proxy 框架将使用 filters 传递的 rewrite 规则
    filters:
      - name: log-http
      - name: context         # context 向 上下文传递 api-key 对应的 AI Provider 实例信息和认证信息, 后续的 filters 可以拿到
      - name: azure-director
        config:
          directors:
            - TransAuthorization
            - AddQueries("api-version=2023-03-15-preview")
            - RewriteScheme
            - RewriteHost
            - RewritePath("/openai/models")
      - name: audit

  - path: /v1/models/{model}
    pathMatcher: ""   # 不填写时, 默认为 `^/v1/models/([^/.]+)$`
    method: GET
    router: null
    filters:
      - name: log-http
      - name: context
      - name: azure-director
        config:
          directors:
            - TransAuthorization
            - AddQueries("api-version=2023-03-15-preview")
            - RewriteScheme
            - RewriteHost
            - RewritePath("/openai/models/${ path.model }")
      - name: audit

  - path: /v1/completions
    method: POST
    router: null
    filters:
      - name: log-http
      - name: body-size-limit
        config:
          maxSize: 102400
          message: { "messages": [ { "role": "assistant", "content": "问题超长啦, 请重置会话", "name": "CodeAI" } ] }
      - name: context
      - name: azure-director
        config:
          directors:
            - TransAuthorization
            - AddQueries("api-version=2023-03-15-preview")
            - RewriteScheme
            - RewriteHost
            - RewritePath("/openai/deployments/${ provider.metadata.DEVELOPMENT_NAME }/completions")
      - name: audit
      - name: acl
        config:
          sources:
            - erda

  - path: /v1/chat/completions
    method: POST
    router: null
    filters:
      - name: log-http
      - name: body-size-limit
        config:
          maxSize: 102400
          message: { "messages": [ { "role": "assistant", "content": "问题超长啦, 请重置会话", "name": "CodeAI" } ] }
      - name: context
      - name: azure-director
        config:
          directors:
            - TransAuthorization
            - AddQueries("api-version=2023-03-15-preview")
            - RewriteScheme
            - RewriteHost
            - RewritePath("/openai/deployments/${ provider.metadata.DEVELOPMENT_NAME }/chat/completions")
      - name: audit
      - name: acl
        config:
          sources:
            - erda

  - path: /v1/edits
    method: POST
    router:
      to: __not_found__
    filters:
      - name: log-http

  - path: /v1/images/generations
    method: POST
    router:
      to: __not_found__
    filters:
      - name: log-http

  - path: /v1/images/edits
    method: POST
    router:
      to: __not_found__
    filters:
      - name: log-http

  - path: /v1/image/variations
    method: POST
    router:
      to: __not_found__
    filters:
      - name: log-http
