apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test-local-volume
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
  storageClassName: dice-local-volume
