# Copyright (c) 2021 Terminus, Inc.
#
# This program is free software: you can use, redistribute, and/or modify
# it under the terms of the GNU Affero General Public License, version 3
# or later ("AGPL"), as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

name: CI AND IT
on:
  push:
    tags:
      - v*
    branches:
      - develop
      - master
      - release/*
  pull_request:

jobs:
  PREPARE:
    runs-on: ubuntu-latest
    container:
      image: registry.erda.cloud/erda/gohub:latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3
      - name: Calculate Go Cache Path
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"
      - uses: actions/cache@v3
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-4 # add '-1' to refresh cache
      - name: Gen proto-go
        run: |
          HOME=/root make proto-go-in-local
      - name: Upload proto-go As Artifact
        uses: actions/upload-artifact@v3
        with:
          name: proto-go
          path: ./api/proto-go
          retention-days: 1
      - name: Go generate # refresh cache
        run: make prepare && go mod tidy

  CI:
    runs-on: ubuntu-latest
    container:
      image: letmein7788/letmein:golangci-lint
    needs:
      - PREPARE
    steps:
      - name: Install Tools
        run: apk add tar
      - name: Clone repo
        uses: actions/checkout@v3
      - name: Fetch proto-go
        uses: actions/download-artifact@v3
        with:
          name: proto-go
          path: ./api/proto-go
      - name: Calculate Go Cache Path
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"
      - uses: actions/cache@v3
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-4
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Run Build
        run: GO_BUILD_OPTIONS="-tags=musl" make build-all

  CODE-CHECK:
    runs-on: ubuntu-latest
    container:
      image: letmein7788/letmein:golangci-lint
    needs:
      - PREPARE
    steps:
      - name: Install Tools
        run: apk add tar
      - name: Clone repo
        uses: actions/checkout@v3
      - name: Fetch proto-go
        uses: actions/download-artifact@v3
        with:
          name: proto-go
          path: ./api/proto-go
      - name: Calculate Go Cache Path
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"
      - uses: actions/cache@v3
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-4
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Go generate files # it's faster than download artifact
        run: make prepare
      - name: Check Go Imports
        run: make check-imports
      - name: Run SQL Lint
        run: make miglint
      - name: Run Go Lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: v1.29
          args: --timeout=10m
          skip-go-installation: true
          skip-pkg-cache: false
          skip-build-cache: false

  CODE-TEST:
    runs-on: ubuntu-latest
    container:
      image: letmein7788/letmein:golangci-lint
    needs:
      - PREPARE
    strategy:
      fail-fast: true
      matrix:
        package-path:
          - ./modules/apps/
          - ./modules/cluster/
          - ./modules/cmp/
          - ./modules/core/
          - ./modules/core-services/
          - ./modules/dicehub/
          - ./modules/dop/
          - ./modules/ecp/
          - ./modules/extensions/
          - ./modules/gittar/
          - ./modules/hepa/
          - ./modules/kms/
          - ./modules/messenger/
          - ./modules/monitor/
          - ./modules/msp/
          - ./modules/oap/
          - ./modules/openapi/
          - ./modules/orchestrator/
          - ./modules/pipeline/
          - ./modules/pkg/
          - ./modules/tools/
          - ./modules/uc-adaptor/
          - ./modules/volume-provisioner/
          - ./apistructs/
          - ./bundle/
#          - ./cmd/
          - ./pkg/
          - ./providers/
          - ./tools/
    steps:
      - name: Install Tools
        run: apk add tar
      - name: Clone repo
        uses: actions/checkout@v3
      - name: Fetch proto-go
        uses: actions/download-artifact@v3
        with:
          name: proto-go
          path: ./api/proto-go
      - name: Calculate Go Cache Path
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"
      - uses: actions/cache@v3
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-4
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Go generate files
        run: make prepare
      - name: Gen coverage report name
        shell: bash
        id: cov-report-name
        run: |
          pkg_path=${{ matrix.package-path }}
          name=${pkg_path#./}
          name=${name%/}
          name=$(sed 's^/^-^g' <<< ${name})
          echo ${name}.txt
          echo "::set-output name=name::coverage-${name}.txt"
      - name: Run Go Test
        env:
          GOLANG_PROTOBUF_REGISTRATION_CONFLICT: ignore
        run: |
          mkdir -p ./coverage
          go test ${{ matrix.package-path }}/... -tags=musl -work -timeout=10s -failfast -race -coverprofile=./coverage/${{ steps.cov-report-name.outputs.name }} -covermode=atomic -gcflags='-l -N'
      - name: Upload coverage As Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.cov-report-name.outputs.name }}
          path: ./coverage/${{ steps.cov-report-name.outputs.name }}
          retention-days: 1

  CODE-COV:
    runs-on: ubuntu-latest
    needs:
      - CODE-TEST
    steps:
      - name: Clone repo
        uses: actions/checkout@v3
      - name: download coverage reports
        uses: actions/download-artifact@v3
        with:
          path: ./coverage/
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          directory: ./coverage
          flags: unittests
          verbose: true